@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e67e22;
  --primary-dark: #d35400;
  --secondary: #3498db;
  --secondary-dark: #2980b9;
  --text: #2c3e50;
  --text-light: #7f8c8d;
  --background: #f9f9f9;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

